body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #20576d;
  text-decoration: none;;
}

a:hover{
  color: #0f313f;
}

header
{
  border: solid 1px #FF0000;
  text-transform: uppercase;
}

main
{
  border: solid 1px #0000FF;
}

aside
{
  background-color: #CCCCCC;
  border: solid 1px #FFFF00;
}

footer
{
  border: solid 1px #00FF00;
}

nav ul{
  list-style-type:none;
  padding: 0;
}

nav li 
{
  list-style: none;
  float: right;
  padding-right: 10px;
  text-transform: uppercase;
}
