* {
  box-sizing: border-box;
}

body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #20576d;
  text-decoration: none;;
}

a:hover{
  color: #0f313f;
}

header
{
  width: 100%;
  height: 15%;
  border: solid 1px #FF0000;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

main
{
  border: solid 1px #0000FF;
}

aside
{
  background-color: #CCCCCC;
  border: solid 1px #FFFF00;
}

footer
{
  width: 100%;
  height: 15%;
  border: solid 1px #00FF00;
}

nav ul{
  list-style-type:none;
  padding: 0;
}

nav li 
{
  list-style: none;
  float: right;
  padding-right: 10px;
  text-transform: uppercase;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}

/* Create three unequal columns that sits next to each other */
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
}

main .column{
  min-height: 700px;
}
.left
{
  flex: 80;
}

.right
{
  flex: 20;
}