[Unit]
Description=WebSocket Daphne Service
After=network.target

[Service]
User=root
Group=www-data

ExecStart=daphne -u /tmp/daphne.sock hello_django.asgi:application
Restart=on-failure

[Install]
WantedBy=multi-user.target