/* totally-spies-001 */

position: relative;
width: 1920px;
height: 1080px;

background: #FFFFFF;


/* noun-mic-2223856 1 */

position: absolute;
width: 40px;
height: 50px;
left: 810px;
top: 969px;



/* Vector */

position: absolute;
left: 34%;
right: 34%;
top: 8.27%;
bottom: 41.3%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 26%;
right: 25%;
top: 33.1%;
bottom: 28.3%;

background: #FFFFFF;


/* Rectangle 22 */

box-sizing: border-box;

position: absolute;
visibility: hidden;
width: 400px;
height: 47px;
left: 140px;
top: 770px;

border: 1px solid #F1EFEB;
border-radius: 15px;


/* Rectangle 23 */

box-sizing: border-box;

position: absolute;
visibility: hidden;
width: 400px;
height: 47px;
left: 550px;
top: 770px;

border: 1px solid #F1EFEB;
border-radius: 15px;


/* Rectangle 24 */

box-sizing: border-box;

position: absolute;
visibility: hidden;
width: 400px;
height: 47px;
left: 140px;
top: 827px;

border: 1px solid #F1EFEB;
border-radius: 15px;


/* Rectangle 25 */

box-sizing: border-box;

position: absolute;
visibility: hidden;
width: 400px;
height: 47px;
left: 550px;
top: 827px;

border: 1px solid #F1EFEB;
border-radius: 15px;


/* Ellipse 12 */

position: absolute;
width: 82px;
height: 82px;
left: 1762px;
top: 58px;

background: #E1E1E1;


/* Collection */

position: absolute;
width: 93px;
height: 106px;
left: calc(50% - 93px/2 + 845.5px);
top: calc(50% - 106px/2 - 427px);

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 80px;
/* or 400% */
text-align: center;

color: #212121;



/* Group 86 */

position: absolute;
width: 93px;
height: 106px;
left: 1793px;
top: 39px;



/* Ellipse 13 */

box-sizing: border-box;

position: absolute;
width: 30px;
height: 30px;
left: 1854px;
top: 64px;

background: #FF2F2F;
border: 4px solid #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Collection */

position: absolute;
width: 93px;
height: 106px;
left: calc(50% - 93px/2 + 879.5px);
top: calc(50% - 106px/2 - 448px);

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 80px;
/* or 727% */
text-align: center;

color: #FFFFFF;



/* Group 45 */

position: absolute;
visibility: hidden;
width: 4px;
height: 15.33px;
left: 408px;
top: 112px;



/* Ellipse 5 */

position: absolute;
width: 4px;
height: 4px;
left: 408px;
top: 123.33px;

background: #757575;


/* Ellipse 3 */

position: absolute;
width: 4px;
height: 4px;
left: 408px;
top: 117.67px;

background: #757575;


/* Ellipse 4 */

position: absolute;
width: 4px;
height: 4px;
left: 408px;
top: 112px;

background: #757575;


/* Ask */

position: absolute;
width: 1007px;
height: 70px;
left: 140px;
top: 955px;



/* Txt */

position: absolute;
width: 1005px;
height: 70px;
left: calc(50% - 1005px/2 - 315.5px);
top: calc(50% - 70px/2 + 450px);

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 70px;
/* identical to box height, or 269% */

color: #757575;



/* Line */

position: absolute;
width: 822px;
height: 0px;
left: 140px;
top: 1020px;

border: 1px solid #979797;


/* Group 71 */

position: absolute;
width: 23px;
height: 24.52px;
left: 894px;
top: 978px;



/* Vector */

position: absolute;
left: 46.82%;
right: 52.54%;
top: 90.56%;
bottom: 7.79%;

background: #000000;


/* Line 18 */

position: absolute;
width: 23px;
height: 0px;
left: 917px;
top: 1002.52px;

border: 2px solid #000000;
transform: rotate(180deg);


/* Mic */

position: absolute;
width: 16px;
height: 25.89px;
left: 944px;
top: 978px;



/* Vector */

position: absolute;
left: 49.3%;
right: 50.15%;
top: 90.56%;
bottom: 7.54%;

background: #212121;


/* Vector */

position: absolute;
left: 49.17%;
right: 50%;
top: 91.49%;
bottom: 7.05%;

background: #212121;


/* Group 73 */

position: absolute;
width: 1920px;
height: 835px;
left: 0px;
top: 185px;



/* Group 33 */

position: absolute;
width: 1920px;
height: 835px;
left: 0px;
top: 185px;



/* Rectangle */

position: absolute;
width: 1920px;
height: 835px;
left: 0px;
top: 185px;

background: linear-gradient(180deg, #0075EC -56.77%, #101E2D 175.81%);


/* avatar_staut 2 */

position: absolute;
visibility: hidden;
width: 2281.21px;
height: 835px;
left: 0px;
top: 185px;

background: linear-gradient(0deg, #F2F2F2, #F2F2F2), url(avatar_staut.jpg);


/* PR_IVANOVIC_PR5_cadree 1 */

position: absolute;
visibility: hidden;
width: 3059.93px;
height: 834.13px;
left: -1077.3px;
top: 185px;

background: linear-gradient(0deg, #F2F2F2, #F2F2F2), url(Smuggler_Walter_Films_Xavier_Arias_printemps_ete_2015_6);


/* Collection */

position: absolute;
width: 359px;
height: 669px;
left: calc(50% - 359px/2 - 640.5px);
top: calc(50% - 669px/2 + 46.5px);

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 40px;
/* or 286% */

color: #F2F2F2;



/* Ellipse 1 */

position: absolute;
width: 6px;
height: 6px;
left: 161px;
top: 711px;

background: #197149;


/* Group 82 */

position: absolute;
width: 846px;
height: 702px;
left: 537px;
top: 252px;



/* Group 84 */

position: absolute;
width: 846px;
height: 309px;
left: 537px;
top: 252px;



/* Rectangle 38 */

position: absolute;
width: 846px;
height: 309px;
left: 537px;
top: 252px;

background: #006CDA;
box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.25);
border-radius: 25px;


/* Collection */

position: absolute;
width: 568px;
height: 80px;
left: calc(50% - 568px/2 - 3px);
top: calc(50% - 80px/2 - 128px);

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 70px;
/* or 194% */
text-align: center;

color: #FFFFFF;



/* Group 74 */

position: absolute;
width: 20px;
height: 20px;
left: 1340px;
top: 292px;

transform: rotate(90deg);


/* Vector */

position: absolute;
left: 68.84%;
right: 31.02%;
top: 28.89%;
bottom: 68.74%;

background: #FFFFFF;
transform: rotate(-135deg);


/* Vector */

position: absolute;
left: 69.66%;
right: 29.34%;
top: 28.81%;
bottom: 70.95%;

background: #FFFFFF;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 68.79%;
right: 31.07%;
top: 27.27%;
bottom: 70.95%;

background: #FFFFFF;
transform: rotate(-90deg);


/* Group 83 */

position: absolute;
width: 846px;
height: 309px;
left: 537px;
top: 563px;



/* Rectangle 37 */

position: absolute;
width: 846px;
height: 309px;
left: 537px;
top: 563px;

background: #006CDA;
box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.25);
border-radius: 25px;


/* Collection */

position: absolute;
width: 568px;
height: 79.48px;
left: calc(50% - 568px/2 - 3px);
top: calc(50% - 79.48px/2 + 177px);

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 70px;
/* or 194% */
text-align: center;

color: #FFFFFF;



/* Group 75 */

position: absolute;
width: 19.87px;
height: 20px;
left: 1340px;
top: 603px;

transform: rotate(90deg);


/* Vector */

position: absolute;
left: 68.84%;
right: 31.02%;
top: 57.67%;
bottom: 39.97%;

background: #FFFFFF;
transform: matrix(-0.71, -0.7, 0.71, -0.7, 0, 0);


/* Vector */

position: absolute;
left: 69.66%;
right: 29.35%;
top: 57.6%;
bottom: 42.16%;

background: #FFFFFF;
transform: rotate(-90deg);


/* Vector */

position: absolute;
left: 68.79%;
right: 31.08%;
top: 56.07%;
bottom: 42.15%;

background: #FFFFFF;
transform: rotate(-90deg);


/* Group 85 */

position: absolute;
width: 846px;
height: 80px;
left: 537px;
top: 874px;



/* Rectangle 37 */

position: absolute;
width: 846px;
height: 80px;
left: 537px;
top: 874px;

background: #006CDA;
box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Collection */

position: absolute;
width: 568px;
height: 73px;
left: calc(50% - 568px/2 - 3px);
top: calc(50% - 73px/2 + 374.5px);

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 70px;
/* or 350% */
text-align: center;

color: #FFFFFF;



/* Group 75 */

position: absolute;
width: 16px;
height: 16.1px;
left: 1340px;
top: 907px;

transform: rotate(90deg);


/* Vector */

position: absolute;
left: 69.03%;
right: 30.86%;
top: 85.46%;
bottom: 12.63%;

background: #FFFFFF;
transform: matrix(-0.71, -0.7, 0.71, -0.7, 0, 0);


/* Vector */

position: absolute;
left: 69.72%;
right: 30.18%;
top: 85.46%;
bottom: 12.63%;

background: #FFFFFF;
transform: matrix(0.71, -0.7, -0.71, -0.7, 0, 0);


/* Vector */

position: absolute;
visibility: hidden;
left: 69.69%;
right: 29.51%;
top: 85.4%;
bottom: 14.4%;

background: #212121;
transform: rotate(-90deg);


/* Vector */

position: absolute;
visibility: hidden;
left: 68.99%;
right: 30.91%;
top: 84.16%;
bottom: 14.4%;

background: #212121;
transform: rotate(-90deg);


/* TotallySpies */

position: absolute;
width: 228px;
height: 80px;
left: 140px;
top: 56px;

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 80px;
/* identical to box height, or 200% */

color: #212121;



/* Group 81 */

position: absolute;
width: 382px;
height: 291px;
left: 1458px;
top: 663px;



/* Players online */

position: absolute;
width: 188px;
height: 30px;
left: 1458px;
top: 663px;

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 30px;
/* identical to box height, or 100% */

color: #ED8728;



/* Group 76 */

position: absolute;
width: 382px;
height: 80px;
left: 1458px;
top: 710px;



/* Rectangle 39 */

position: absolute;
width: 382px;
height: 80px;
left: 1458px;
top: 710px;

background: #ED8728;
box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* 25/03/2024 at 12:47 John Doe vient de créer un tournois */

position: absolute;
width: 225px;
height: 45px;
left: 1542px;
top: 730px;

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* or 143% */

color: #F2F2F2;



/* Ellipse 12 */

position: absolute;
width: 50px;
height: 50px;
left: 1473px;
top: 725px;

background: #B16400;


/* Collection */

position: absolute;
width: 54px;
height: 75px;
left: calc(50% - 54px/2 + 539px);
top: calc(50% - 75px/2 + 208.5px);

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 80px;
/* or 500% */
text-align: center;

color: #ED8728;



/* Group 77 */

position: absolute;
width: 382px;
height: 80px;
left: 1458px;
top: 792px;



/* Rectangle 39 */

position: absolute;
width: 382px;
height: 80px;
left: 1458px;
top: 792px;

background: #ED8728;
box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Ellipse 12 */

position: absolute;
width: 50px;
height: 50px;
left: 1473px;
top: 807px;

background: #B16400;


/* Collection */

position: absolute;
width: 54px;
height: 75px;
left: calc(50% - 54px/2 + 539px);
top: calc(50% - 75px/2 + 290.5px);

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 80px;
/* or 500% */
text-align: center;

color: #ED8728;



/* 25/03/2024 at 12:47 John Doe vient de créer un tournois */

position: absolute;
width: 225px;
height: 45.57px;
left: 1542px;
top: 812.23px;

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* or 143% */

color: #F2F2F2;



/* Group 78 */

position: absolute;
width: 382px;
height: 80px;
left: 1458px;
top: 874px;



/* Rectangle 39 */

position: absolute;
width: 382px;
height: 80px;
left: 1458px;
top: 874px;

background: #ED8728;
box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Ellipse 12 */

position: absolute;
width: 50px;
height: 50px;
left: 1473px;
top: 889px;

background: #B16400;


/* Collection */

position: absolute;
width: 54px;
height: 75px;
left: calc(50% - 54px/2 + 539px);
top: calc(50% - 75px/2 + 372.5px);

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 80px;
/* or 500% */
text-align: center;

color: #ED8728;



/* 25/03/2024 at 12:47 John Doe vient de créer un tournois */

position: absolute;
width: 225px;
height: 45.57px;
left: 1542px;
top: 894.23px;

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* or 143% */

color: #F2F2F2;



/* Group 80 */

position: absolute;
width: 427px;
height: 375px;
left: 1458px;
top: 252px;



/* Friends */

position: absolute;
width: 103px;
height: 30px;
left: 1458px;
top: 252px;

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 30px;
/* identical to box height, or 100% */

color: #1DAB6C;



/* Group 76 */

position: absolute;
width: 382px;
height: 80px;
left: 1458px;
top: 301px;



/* Rectangle 39 */

position: absolute;
width: 382px;
height: 80px;
left: 1458px;
top: 301px;

background: #1DAB6C;
box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Vector */

position: absolute;
left: 92.6%;
right: 6.56%;
top: 30.93%;
bottom: 67.69%;

background: #FFFFFF;


/* Username Onlineent de créer un tournois */

position: absolute;
width: 225px;
height: 50px;
left: 1537px;
top: 321px;

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
/* or 100% */

color: #F2F2F2;



/* Ellipse 12 */

position: absolute;
width: 50px;
height: 50px;
left: 1473px;
top: 316px;

background: #067846;


/* Collection */

position: absolute;
width: 54px;
height: 75px;
left: calc(50% - 54px/2 + 539px);
top: calc(50% - 75px/2 - 200.5px);

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 80px;
/* or 500% */
text-align: center;

color: #1DAB6C;



/* Group 77 */

position: absolute;
width: 382px;
height: 80px;
left: 1458px;
top: 383px;



/* Rectangle 39 */

position: absolute;
width: 382px;
height: 80px;
left: 1458px;
top: 383px;

background: #1DAB6C;
box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Username Onlineent de créer un tournois */

position: absolute;
width: 225px;
height: 50px;
left: 1542px;
top: 403px;

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
/* or 100% */

color: #F2F2F2;



/* Ellipse 12 */

position: absolute;
width: 50px;
height: 50px;
left: 1473px;
top: 398px;

background: #067846;


/* Collection */

position: absolute;
width: 54px;
height: 75px;
left: calc(50% - 54px/2 + 539px);
top: calc(50% - 75px/2 - 118.5px);

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 80px;
/* or 500% */
text-align: center;

color: #1DAB6C;



/* Vector */

position: absolute;
left: 92.6%;
right: 6.56%;
top: 38.52%;
bottom: 60.1%;

background: #FFFFFF;


/* Group 78 */

position: absolute;
width: 382px;
height: 80px;
left: 1458px;
top: 465px;



/* Rectangle 39 */

position: absolute;
width: 382px;
height: 80px;
left: 1458px;
top: 465px;

background: #1DAB6C;
box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Vector */

position: absolute;
left: 92.6%;
right: 6.56%;
top: 46.11%;
bottom: 52.51%;

background: #FFFFFF;


/* Username Onlineent de créer un tournois */

position: absolute;
width: 225px;
height: 50px;
left: 1542px;
top: 485px;

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
/* or 100% */

color: #F2F2F2;



/* Ellipse 12 */

position: absolute;
width: 50px;
height: 50px;
left: 1473px;
top: 480px;

background: #067846;


/* Collection */

position: absolute;
width: 54px;
height: 75px;
left: calc(50% - 54px/2 + 539px);
top: calc(50% - 75px/2 - 36.5px);

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 80px;
/* or 500% */
text-align: center;

color: #1DAB6C;



/* Group 79 */

position: absolute;
width: 382px;
height: 80px;
left: 1458px;
top: 547px;



/* Rectangle 39 */

position: absolute;
width: 382px;
height: 80px;
left: 1458px;
top: 547px;

background: #1DAB6C;
box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Vector */

position: absolute;
left: 92.6%;
right: 6.56%;
top: 53.7%;
bottom: 44.91%;

background: #FFFFFF;


/* Username Onlineent de créer un tournois */

position: absolute;
width: 225px;
height: 50px;
left: 1542px;
top: 567px;

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
/* or 100% */

color: #F2F2F2;



/* Ellipse 12 */

position: absolute;
width: 50px;
height: 50px;
left: 1473px;
top: 562px;

background: #067846;


/* Collection */

position: absolute;
width: 54px;
height: 75px;
left: calc(50% - 54px/2 + 539px);
top: calc(50% - 75px/2 + 45.5px);

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 80px;
/* or 500% */
text-align: center;

color: #1DAB6C;



/* Group 87 */

position: absolute;
width: 93px;
height: 106px;
left: 1792px;
top: 275px;



/* Ellipse 13 */

box-sizing: border-box;

position: absolute;
width: 30px;
height: 30px;
left: 1854px;
top: 300px;

background: #FF2F2F;
border: 4px solid #0855A5;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Collection */

position: absolute;
width: 93px;
height: 106px;
left: calc(50% - 93px/2 + 878.5px);
top: calc(50% - 106px/2 - 212px);

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 80px;
/* or 727% */
text-align: center;

color: #FFFFFF;



/* Group 88 */

position: absolute;
width: 93px;
height: 106px;
left: 1792px;
top: 439px;



/* Ellipse 13 */

box-sizing: border-box;

position: absolute;
width: 30px;
height: 30px;
left: 1854px;
top: 464px;

background: #FF2F2F;
border: 4px solid #0855A5;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Collection */

position: absolute;
width: 93px;
height: 106px;
left: calc(50% - 93px/2 + 878.5px);
top: calc(50% - 106px/2 - 48px);

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 80px;
/* or 727% */
text-align: center;

color: #FFFFFF;



/* Copyright Home Play About Contact */

position: absolute;
width: 468px;
height: 30px;
left: 140px;
top: 1035px;

font-family: 'Helvetica Now Display';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 30px;
/* identical to box height, or 214% */

color: #212121;

