<div class="jumbotron">
<h1 class="display-4">ChatRoom</h1>
<hr class="my-4">


<div  id="app" class="container">


<div class="content-wrapper">


<div class="row gutters">

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

<div class="card m-0">

<div>
	<div  id="app" class="chat-container">
		<div class="mh-80 overflow-scroll" style="height: 500px;">
		<ul class="chat-box chatContainerScroll">


			

			<li class="chat-left">
				<div class="chat-avatar">
					<img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
					<div class="chat-name">Russell</div>
				</div>
				<div class="chat-left" id ="chat-text-left">
					
				</div>
				<div class="chat-hour">08:55<span class="fa fa-check-circle"></span></div>
			</li>

			<li class="chat-right">
				<div class="chat-hour">08:56 <span class="fa fa-check-circle"></span></div>
				<div id="chat-text-right" class="chat-text-right">

				</div>
				<div class="chat-avatar">
					<img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
					<div class="chat-name">Sam</div>
				</div>
			</li>
			</ul>
			<form id="input-form">
				<input id="chat-message-input" type="text"><br>
				<input id="chat-message-submit" type="button" value="Send">
			</form>
		</div>
		</div>
	</div>
</div>
							