<row class="row mx-auto">
    <img class="col-4 img-fluid avatar-md rounded-circle justify-content-start picture-src" src="/avatars/default.png" style="height: 80px; width: 100px;">
    <data class="col justify-content-center">
        <div class="col h5">
            <a class="profile-link #href">sethomas</a>
        </div>
        <p class="status">Not connected</p>
    </data><div class="col-3 justify-content-end">
        <button class="btn btn-primary follow" user_id="" type="button">Follow</button>
    </div></row>